header {
    font-size: 20px;
    color: white;
    background-color: white;
}

main {
    font-size: 30px;
    color: white;
}

main2 {
    font-size: 30px;
    color: white;
}

.paragraph {
    /* padding: 100px; */
    margin-top: 20px;
}

body {
    background: url(../../images/background.jpg);
    /* background-color:blue;  Голубой цвет 
    min-height: 100vh; */
}