{% extends 'base/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'my_site/styles/background4.css' %}"/>
    <link rel="stylesheet" href="{% static 'my_site/styles/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
{% endblock style %}

<div class="container">
    <div class="bg-container">
      <div class="vector-bg">
      </div>
    </div>
</div>


{% block main %}
<div class="paragraph">
  <p>
    Золотое сечение — деление целого (например, отрезка)
    на такие части, которые соотносятся по следующему принципу:
    большая часть относится к меньшей так же, как и вся величина 
    (например, сумма двух отрезков) к большей части.
  </p>
</div>
{% endblock %}
{% block card %}
<div>
  <div class="card" style="width: 18rem;">
    <img src="../../static/images/card1.png" class="card-img-top" alt="" >
    <div class="card rounded-3" style="width: 18rem;">
      <div class~="card-body">
        <h5 class="card-title">Отношение в золотом сечении</h5>
      </div>

    </div>
    
  </div>
  <img src="../static/images/Golden_Ratio_2.png" class="rounded float-end" alt="image" style="width: 50%; max-width: 600px; height: auto;">

  <div>
    
    
  </div>
  
</div>
<div>
  <div >
    {% comment %} <img src="../static/images/Golden_Ratio_2.png" class="rounded float-end" alt="image"> {% endcomment %}
  </div>
</div>
{% endblock %}

{% block main2 %}
<div class="paragraph">
  <div>
    {% comment %} <img src="../static/images/Golden_ratio.png" class="rounded float-end" alt="My Image"> {% endcomment %}
  </div>
  <div class="rounded mx-auto d-block">
    <p>
      обозначается буквой φ (фи). Если описывать золотое сечение приблизительно,
      оно представляет собой пропорциональное деление на две неравных части:
      примерно 62% и 38%. В числовом выражении золотое сечение представляет
      собой число 1,6180339887. Оно используется для создания композиций,
      воспринимаемых как гармоничные. Золотое сечение встречается в архитектуре, 
    </p>
    <div>
      <img src="../static/images/Fibbonachi1.jpg" class="rounded float-end" alt="My Image" style="width: 50%; max-width: 600px; height: auto;">
  </div>
    <p>
      
      например, в пропорциях Парфенона или пирамиды Хеопса. В искусстве, такие
      мастера как Леонардо да Винчи использовали его для расположения элементов,
      как в "Мона Лизе". Природа также демонстрирует эту пропорцию, 
      например, в структуре ветвей деревьев или форме раковин моллюсков.
    </p>
  </div>
  <div>
    {% comment %} <img src="../static/images/Golden_ratio.png" class="rounded mx-auto d-block" alt="My Image"> {% endcomment %}
  </div>

</div>


{% endblock %}
